{{#ember-wormhole to="page-header"}}
<h1>Store Issue <small>GIN</small></h1>
{{/ember-wormhole}}

<div class="box">
  <div class="box-body">
    <div class="row">
      <div class="col-xs-3">
        <input class="form-control" placeholder="GIN" type="text">
      </div>
      <div class="col-xs-2">
        <select class="form-control" name="">
          <option>Choose Store</option>
          <option>Adama Steel</option>
        </select>
      </div>
      <div class="col-xs-2">
        {{bootstrap-datepicker value=searchDate autoclose=true placeholder="Choose a date"}}
      </div>
      <div class="col-xs-1">
        <a class="btn btn-default"><i class="fa fa-search"></i> Search</a>
      </div>

      <div class="col-xs-offset-3 col-xs-1">
        {{#link-to "dispatch.new" class="btn btn-primary"}}<i class="fa fa-plus"></i> Add{{/link-to}}
      </div>
    </div>


  </div>
</div>


<div class="box">

  <div class="box-body">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th style="width: 10px">#</th>
          <th>GIN</th>
          <th>Requisition No.</th>
          <th>Dispatch Month</th>
          <th>Region</th>
          <th>Zone</th>
          <th>Woreda</th>
          <th>FDP</th>
          <th>Dispatch Date</th>
          <th>Store</th>
          <th>Entered by</th>
          <th>Tasks</th>
        </tr>

        {{#each model as |dispatch|}}
        <tr>
          <td></td>
          <td>
            {{#link-to "dispatch.detail" dispatch.id }}
              {{dispatch.gin}}
            {{/link-to}}
          </td>
          <td>{{dispatch.requisitionNo}}</td>
          <td>{{dispatch.dispatchMonth}}</td>
          <td>{{dispatch.region.name}}</td>
          <td>{{dispatch.zone.name}}</td>
          <td>{{dispatch.woreda.name}}</td>
          <td>{{dispatch.fdp.name}}</td>
          <td>{{dispatch.dispatchDate}}</td>
        <!--  <td>{{format-date dispatch.dispatchDate}}</td> -->
          <td>{{dispatch._store}}</td>
          <td>{{dispatch.enteredBy}}</td>
          <td>
            {{#link-to "dispatch.edit" dispatch.id }}
                  <span>edit</span>
            {{/link-to}}
          </td>
        </tr>
        {{/each}}



      </tbody>
    </table>
  </div>

  <!-- /.box-body -->
  <div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </div>
</div>
<!-- /.box -->
