{{#ember-wormhole to="page-header"}}
  <h1>Store Receipts <small>GRN</small></h1>
{{/ember-wormhole}}


<div class="box">
  <div class="box-body">
    <div class="row">
      <div class="form-group col-xs-2">
        <select class="form-control" value={{storeFilterId}} onchange={{ action (mut storeFilterId) value='target.value' }}>
          <option value="">All Stores</option>
          {{#each model.stores as |store| }}
            <option value={{store.id}}>{{store.name}}</option>
          {{/each}}
        </select>

      </div>
      <div class="form-group col-xs-2">
        <div class="input-group date">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          {{bootstrap-datepicker
            value=receivedDateFilter
            placeholder="Received Date"
            clearBtn=true
            class="form-control"
            autoclose=true
            }}
        </div>
      </div>


      <div class="form-group col-md-3">
        <div class="input-group" style="border-left: 1px solid #eee;padding-left: 32px;">
          <input class="form-control" placeholder="GRN" type="text">
          <div class="input-group-btn">
            <a class="btn btn-default">Go</a>
          </div>
        </div>
      </div>


      <div class="col-xs-1 pull-right">
        {{#link-to "grns.new" class="btn btn-primary"}}
          <i class="fa fa-plus"></i> Add
        {{/link-to}}
      </div>
    </div>
  </div>
</div>


<div class="box">

  <div class="box-body">
    <table class="table">

      <thead>
        <tr>
          <th>GRN #</th>
          <th>Receipt Date</th>
          <th>Store</th>
          <th>Received by</th>
          <th># items</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

      {{#each paginatedContent as |grn|}}

        <tr>
          <td>{{grn.grnNumber}}</td>
          <td>{{format-date grn.receivedDate 'short'}}</td>
          <td>{{grn.store_.name}}</td>
          <td>{{grn.receivedBy}}</td>
          <td>{{grn.items.length}}</td>
          <td>
            {{#link-to "grns.show" grn.id class="icon-link"}}
              <i title="View" class="fa fa-eye" aria-hidden="true"></i>
            {{/link-to}}
            <span style="margin: 0 5px 0 5px; color: #a5a4a4">&middot;</span>
            {{#link-to "grns.edit" grn.id class="icon-link"}}
              <i title="Edit" class="fa fa-pencil-square-o" aria-hidden="true"></i>
            {{/link-to}}
          </td>
        </tr>

      {{/each}}

      </tbody>
    </table>

    {{#unless paginatedContent.length }}
      <div class="table-nothing-to-show">
        Nothing to Show.
      </div>
    {{/unless}}

  </div>

  <div class="box-footer clearfix">
    {{#pagination-pager pager=true count=availablePages current=currentPage pagerSpread=true  change='pageChanged'}}
      <!-- This will show up between the two buttons. -->
      Page {{currentPage}} of {{availablePages}}
    {{/pagination-pager}}
  </div>
</div>
