      <div>
          <form {{action 'addDispatch' on='submit'}}>
              <div class="row">
                  <div class="col-md-6">
                      <label for="gin">GIN</label>
                      <div class="form-group">
                        {{ input value= dispatch.gin id="ginSearch" type="text" class="form-control"  }}
                      </div>
                  </div>

              </div>
              <hr>

              <div class="row">
                  <div class="col-md-4">
                      <label for="dispatchDate">Dispatched Date</label>
                      <div class="form-group">
                        {{bootstrap-datepicker value=dispatch.dispatchDate}}
                      </div>
                  </div>

                  <div class="col-md-4">
                      <label for="store">Store</label>
                      <div class="form-group">
                          <select class="form-control" value= dispatch.store name="">
                              <option>Choose Store</option>
                              <option>Adama</option>
                          </select>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <label for="storeKeeper">Store Keeper</label>
                      <div class="form-group">
                        {{ input value=dispatch.storeKeeper id="storeKeeper" type="text" class="form-control"  }}
                      </div>
                  </div>
              </div>


              <div class="row">
                  <div class="col-md-4">
                      <label for="requisitionNo">Requisition #</label>
                    {{ input value=dispatch.requisitionNo id="requisitionNo" type="text" class="form-control"  }}
                  </div>
                  <div class="col-md-4">
                      <label for="projectCode">Project</label>
                      <div class="form-group">
                          <select class="form-control" value=dispatch.projectCode name="">
                              <option>Choose Store</option>
                              <option>Adama</option>
                          </select>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <label for="siCode">SI Code(Donor)</label>
                      <div class="form-group">
                          <select class="form-control" value=dispatch.siCode name="">
                              <option>Select</option>
                          </select>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-3">
                      <label for="region">Region</label>
                      <div class="form-group">
                          <select class="form-control" value=dispatch.region name="">
                              <option>Select</option>
                          </select>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <label for="zone">Zone</label>
                      <div class="form-group">
                          <select class="form-control" value=dispatch.zone name="">
                              <option>Select</option>
                          </select>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <label for="woreda">Woreda</label>
                      <div class="form-group">
                          <select class="form-control" value=dispatch.woreda name="">
                              <option>Select</option>
                          </select>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <label for="fdp">FDP</label>
                      <div class="form-group">
                          <select class="form-control" value=dispatch.fdp name="">
                              <option>Select</option>
                          </select>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <hr>
                  <div class="row">
                      <div class="col-md-12">
                          <div class="panel panel-default">

                              <div class="panel-heading">Dispatch Items</div>

                              <table class="table table-striped">
                                  <thead>
                                  <tr>
                                      <th>Commodity Class</th>
                                      <th>Commodity</th>
                                      <th>Rounded Allocation MT</th>
                                      <th>Total Units Dispatched</th>
                                      <th>Quintal Dispatched</th>
                                      <th>Dispatch MT</th>
                                  </tr>
                                  </thead>

                                  <tbody>
                                  {{#each items as |item| }}
                                  <tr>
                                      <td> {{ input value=item.commodityClass id="commodityClass" type="select" class="form-control"  }}</td>
                                      <td> {{ input value=item.commodity id="commodity" type="select" class="form-control"  }}</td>
                                      <td> {{ input value=item.roundedAllocationMT id="roundedAllocationMT" type="text" class="form-control"  }}</td>
                                      <td> {{ input value=item.totalUnitsDispatched id="totalUnitsDispatched" type="text" class="form-control"  }}</td>
                                      <td> {{ input value=item.quintalDispatched id="quintalDispatched" type="text" class="form-control"  }}</td>
                                      <td> {{ input value=item.dispatchMT id="dispatchMT" type="text" class="form-control"  }}</td>
                                  </tr>
                                    {{/each}}
                                  <tr>

                                      <td> {{ input value=item.commodityClass id="commodityClass" type="select" class="form-control"  }}</td>
                                      <td> {{ input value=item.commodity id="commodity" type="select" class="form-control"  }}</td>
                                      <td> {{ input value=item.roundedAllocationMT id="roundedAllocationMT" type="text" class="form-control"  }}</td>
                                      <td> {{ input value=item.totalUnitsDispatched id="totalUnitsDispatched" type="text" class="form-control"  }}</td>
                                      <td> {{ input value=item.quintalDispatched id="quintalDispatched" type="text" class="form-control"  }}</td>
                                      <td> {{ input value=item.dispatchMT id="dispatchMT" type="text" class="form-control"  }}</td>

                                      <td>
                                        <button type="button" class="btn btn-primary" >Add</button>
                                      </td>

                                  </tr>


                                  </tbody>
                              </table>
                          </div>
                      </div>

                  </div>
                  <hr>

                  <div class="row">
                      <div class="col-md-3">
                          <label for="transporter">Transporter</label>
                          <div class="form-group">
                            {{ input value=dispatch.transporter  type="text" class="form-control"  }}
                          </div>
                      </div>
                      <div class="col-md-3">
                          <label for="plateNo">Plate #</label>
                          <div class="form-group">
                            {{ input value=dispatch.plateNo type="text" class="form-control"  }}
                          </div>
                      </div>
                      <div class="col-md-3">
                          <label for="trailerNo">Trailer plate #</label>
                          <div class="form-group">
                            {{ input value=dispatch.trailerNo type="text" class="form-control"  }}
                          </div>
                      </div>
                      <div class="col-md-3">
                          <label for="driverName">Driver's name</label>
                          <div class="form-group">
                            {{ input value=dispatch.driverName type="text" class="form-control"  }}
                          </div>
                      </div>
                  </div>

                  <hr>
                  <div class="row">
                      <div class="col-md-6">

                      </div>

                      <div class="col-md-6">
                          <a onclick={{ action "createDispatch" "REDIRECT"}} class="btn btn-primary"><i class="fa fa-save"></i> Save</a>
                          <a onclick={{ action "createDispatch" "STAY"}} class="btn btn-primary"><i class="fa fa-save"></i> Save & New</a>
                          <a href="/dispatch" class="btn btn-default"><i class="fa fa-cancel"></i> Cancel</a>
                      </div>
                  </div>

              </div>


          </form>
      </div>
